.userPhoto {
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.photoBlock {
    width: 40x;
    height: 40px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}
.selectedPage {
    font-weight: bold;
}

.userCard {
    display: flex;
}

.usersName {
    font-weight: 600;
}

.userCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    padding: 10px;
}



.photoNameFollow {
    display: flex;
}

.followBlockBtn{
    padding:0 25px
}
.followBlockBtn button{
    cursor: pointer;
    border: 0.5px solid rgb(83, 100, 113);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 25px;
    min-width: 113px;
    font-size: 15px;
    font-weight: 700;
}
.followBlockBtn button:hover {
    background-color: #2C3640;
}




.info {
    padding: 0 10px;
}