.item {
    color: blue;
}

.submitBlock {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 5px;
}

.submitBlock button {
    cursor: pointer;
    border: 0.5px solid rgb(83, 100, 113);
    text-decoration: none;
    border-radius: 25px;
    min-width: 67px;
    min-height: 36px;
    font-size: 15px;
    font-weight: 600;
}


.posts {
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
}


.addPost {
    border-left: 0;
    border-right: 0;
    width: 100%;
    box-sizing: border-box;
    height: 75px;
    background: transparent;
    font-size: 20px;
    font-weight: 400;
    color: white;
}