.appWrapper {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 7fr;
  grid-gap:10px;
  grid-template-areas: 
  "n h"
  "n c"
  ;
}

.appWrapperContent {
  grid-area: c;
  background-color: #15202B;
  border: 0.5px solid #5b5858;
  color: white;
  }

